{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is het implementatiemodel voor de uitwisseling van informatie over bedrijventerreinen tussen de regional overheid, namelijk VLAIO, en de ontwikkelingsmaatschappijen. 
Het implementatiemodel is een instantie van het applicatieprofiel bedrijventerreinen.

Dit omvat niet alle informatie van de authentieke bron bedrijventerreinen, enkel de informatie die uitgewisseld wordt tussen de partijen.

</p><p>
{% endblock %}


